/* RightSidebar.module.css */

.sideContainer {
  width: 200px;      /* 사이드바 폭 */
  height: 100vh;     
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee; /* ChatMain(#f9f9f9)보다 조금 어두운 회색 */
}

.container {
  flex: 1;
  margin: 0;
  padding: 0;
}

/* 버튼/문구 래퍼 */
.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;          
  padding: 8px;      
  box-sizing: border-box;
  height: 100%;
}
/* 중간 */
.middleArea {
  margin-top: 8px;
}

/* 하단 */
.bottomArea {
  margin-top: auto;  /* 아래로 밀어 붙이기 */
}
