.admin-user-list-container {
    position: relative;
    margin-left: calc(var(--sidebar-width-open) + 15px);
    width: calc(100vw - var(--sidebar-width-open) - 20px);
    height: 100%;
}

.admin-user-list-container table {
    width: 100%;
    border-collapse: collapse;
}

.admin-user-list-container table thead {
    color: #fff;
    font-size: 1.6rem;
}

.admin-user-list-container table tbody {
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.admin-user-list-container table tbody tr {
    position: relative;
    height: 5rem;
    font-size: 1.4rem;

    z-index: 2;
    cursor: pointer;
}

.admin-user-list-container table tbody tr td  {
    position: relative;
    z-index: 2;
}

/** 관리자 상태 구분*/
.admin-user-list-container table tbody tr.admin::after {
    content: '';
    position: absolute;
    top: 31px;
    left: 40px;
    width: 95%;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(243, 13, 13, 0.3);
    z-index: 1;
}


/** 활동 상태 구분 */
.admin-user-list-container table tbody tr td:nth-child(4) > div {
    position: absolute;
    top: 35px;
    left: 70px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.admin-user-list-container table tbody tr td:nth-child(4) .active-status {
    background-color: #00ff00;
}

.admin-user-list-container table tbody tr td:nth-child(4) .stop-status {
    background-color: #f30d0d;
}





/** User Deatail **/
.user-detail-container {
    position: absolute;
    top: 80px;
    left: 300px;
    width: 80%;
    height: 80%;
    z-index: 10;

    background-color: #0a142b;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/** 종료 Button */
.exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.user-detail-container .info {
    width: 100%;
    height: 150px;

}

.user-detail-container .info .nickName {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 2.8rem;

    display: flex;
    align-items: center;

    text-align: center;
    overflow: hidden;
}

/** 관리자 상태 구분 */
.user-detail-container .info .nickName .step {
    margin-left: 30px;
    padding: 6px 15px;
    color: #fff;
    font-size: 1.1rem;
    color: #000;

    border-radius: 20px;
    
}

.user-detail-container .info .nickName .step.admin {
    background-color: rgb(255, 116, 116);
}

.user-detail-container .info .nickName .step.user {
    background-color: rgb(116, 255, 116);
}

.user-detail-container .info .nickName .step > div {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.user-detail-container .info .nickName .step.admin > div {
    background-color: red;
}

.user-detail-container .info .nickName .step.user > div {
    background-color: green;
}


/** 사용자 정보 */
.card-status {
    width: 80%;
    margin: 20px;
    padding: 10px 35px;
    border-radius: 10px;

    display: flex;
    align-items: end;

    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.info .card-status > small {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #715cbb;
}

.info .card-status > small > svg {
    margin-right: 10px;
}

.info .card-status > h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-right: 10%;
}
