.admin-user-list-container {
    position: relative;
    margin-left: calc(var(--sidebar-width-open) + 15px);
    width: calc(100vw - var(--sidebar-width-open) - 20px);
    height: 100%;
}

.admin-user-list-container table {
    width: 100%;
    border-collapse: collapse;
}

.admin-user-list-container table thead {
    color: #fff;
    font-size: 1.6rem;
}

.admin-user-list-container table tbody {
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.admin-user-list-container table tbody tr {
    position: relative;
    height: 5rem;
    font-size: 1.4rem;

    z-index: 2;
    cursor: pointer;
}

.admin-user-list-container table tbody tr td  {
    position: relative;
    z-index: 2;
}



.admin-user-list-container table tbody tr td:nth-child(4) > div {
    position: absolute;
    top: 35px;
    left: 70px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.admin-user-list-container table tbody tr td:nth-child(4) .active-status {
    background-color: #00ff00;
}

.admin-user-list-container table tbody tr td:nth-child(4) .stop-status {
    background-color: #f30d0d;
}

