
/** 관리자페이지 기본 설정 */
.dashboard-default {
    position: relative;
    margin-left: calc(var(--nav-menu-close-width) + 15px);
    width: calc(100vw - var(--nav-menu-close-width) - 20px);
    height: 100%;
    border: 3px solid red;
}


.admin-manager-container .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.admin-manager-container .card-single {
    background: var(--white);
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

.card-single .card-flex {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
}

.card-single .card-flex .card-head span {
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: .9rem;
}

.card-info h2 {
    font-size: 2.2rem;
    color: #333;
}

.card-chart svg {
    font-size: 5rem;
}