
:root {
    --sidebar-width-open: 400px;
    --sidebar-width-close: 100px;

    --admin-nav-color: #fff;
    --admin-nav-hover-color: ##1a202e;
    --admin-nav-hover-color-2: #191919;
    --sidebar-hover: #BE3144;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    background: var(--admin-nav-color);

    z-index: 10;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.sidebar.open {
    width: var(--sidebar-width-open);
    
}
.sidebar.close {
    width: var(--sidebar-width-close);
}


/** Logo */
.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;
}

.sidebar.open .logo .img {
    background-image: url('../../../assets/img/mypick-logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 60%;
    height: 100%;
}

.sidebar.close .logo .img {

    background-image: url('../../../assets/img/mypick-logo-small.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 50px;
    height: 50px;
    padding: 25px;

    border-radius: 50%;
    background-color: var(--admin-nav-hover-color);
}


.sidebar .menu {
    display: flex;
    flex-direction: column;
    justify-content: start;

    margin-bottom: 7rem;
}

.sidebar.open .menu {
    align-items: end;
}

.sidebar.close .menu {
    align-items: center;
}

/** menu Item*/
.sidebar.open .menu > div {
    position: relative;

    margin-top: 20px;
    margin-right: 90px;
    width: 50%;

    display: flex;
    justify-content: start;
    align-items: center;

    cursor: pointer;
}

/** menu Item*/
.sidebar.close .menu > div {
    position: relative;
    margin-top: 20px;
    margin-left: 25px;

    display: flex;
    /* align-items: center;
    justify-content: center; */


    cursor: pointer;
}

.sidebar.open .menu .item span {
    opacity: 1;
    font-size: 1.8rem;

    /* transition-delay: 0.5s; */
    z-index: 4;
}

.sidebar.close .menu .item span {
    opacity: 0;
    font-size: .1rem;
    transition: 1s ease-in-out;
    transition-delay: 0.2s;

    pointer-events: none;
}

.sidebar .menu .item svg {
    margin-right: 30px;
    font-size: 1.8rem;

    z-index: 4;
}

/** nav-close*/
.sidebar .nav-close {
    text-align: center;
}

.sidebar .nav-close .item {
    padding: 15px;
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.sidebar .nav-close .item svg {
    border-radius: 50%;
    background-color: var(--admin-background-color);
    color: var(--admin-nav-color);

    padding: 20px;

    font-size: 2.5rem;
}
.sidebar.open .nav-close .item svg {
    margin-right: 15px;
}
.sidebar.close .nav-close .item svg {
    margin-right: 0px;
}

.sidebar.close .nav-close .item span {
    display: none;
}
.sidebar.open .nav-close .item span {
    display: block;
    color: var(--admin-background-color);
}





/** 사용자 정보 부분  */
.sidebar .sidebar-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-user img {
    border-left: 2px solid transparent;
    border-right: 2px solid var(--admin-background-color);
    border-bottom: 2px solid var(--admin-background-color);
    border-top: 2px solid var(--admin-background-color);
}
.sidebar.close .sidebar-user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar.open .sidebar-user img {
    transition: 1s ease-in-out;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.sidebar.open .sidebar-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar.open .sidebar-user-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar.open .sidebar-user-info .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    margin-right: 20px;
}
.sidebar.open .sidebar-user-info .icon div:nth-child(1) {
    margin-top: 7px;
}

.sidebar.open .sidebar-user-info .icon div:nth-child(2) {
    margin-top: -7px;
}

.sidebar.open .sidebar-user-info .icon svg {
    font-size: 1.5rem;
}

.sidebar .sidebar-user div {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.sidebar.open .sidebar-user span {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;

    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
}

.sidebar.open .sidebar-user .info user {
    opacity: 1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;

}
.sidebar.close .sidebar-user .info user,
.sidebar.close .sidebar-user .info span {
    opacity: 0;
    font-size: .1rem;
}

.sidebar.close .sidebar-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-option > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.sidebar .sidebar-option svg {
    font-size: 1.5rem;
}

.sidebar.close .sidebar-option span {
    opacity: 0;
    font-size: .1rem;
}

.sidebar.open .sidebar-option span {
    margin-left: 15px;
    opacity: 1;
    font-size: 1.5rem;
}



.sidebar.close .menu .item:hover svg,
.sidebar.open .menu .item:hover span,
.sidebar.open .menu .item:hover svg,
.sidebar.open .nav-close .item:hover span,
.sidebar .sidebar-option > div:hover svg,
.sidebar.open .sidebar-option div:hover span {
    color: var(--sidebar-hover);
}

.sidebar .nav-close .item:hover svg {
    background-color: var(--sidebar-hover);
}

.sidebar .menu .item.active {
    color: var(--red-color);
}
