


/* .background-container .cube {
    position: fixed;
    transform-origin: center;
    will-change: transform;
} */


:root {
	--background-color: rgba(0, 0, 0, 0.5);
	--baner-height: 450px;
	--main-top-banner-height: 100vh;
	--black-color: #4D4D4D;
	--red-color: #FF4948;

	--btn-w: 10em;
  	--dot-w: calc(var(--btn-w)*.2);
  	--tr-X: calc(var(--btn-w) - var(--dot-w));
}

.test-border-blue {
	border: 3px solid #00f;
}

.test-border-red {
	border: 3px solid #f00;
}

.test-border-green {
	border: 3px solid #0f0;
}

.main-content .back-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    clip-path: inset(0);
}


.back-area {

	position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

	top: 500px;
	left: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;

	background: #555;
}
.background-container {

    position: fixed;
    top: 700px;
    left: 950px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;

	z-index: 3;
	transform: skewY(-20deg);

	width: 100vw;
	height: 100%;
}

.background-container .cube {
	position: relative;
	translate: calc(var(--z) * 60px) calc(var(--z) * 60px);
}

.background-container .cube div {
	position: absolute;
	translate: calc(-70px * var(--x)) calc(-70px * var(--y));
}

.background-container .cube div span {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #fff;
	transition: 1.5s;
}

.background-container .cube div span.active {
	background: #ef4149;
	transform: translate(0, -50px);
	animation: animate 2s ease-in-out infinite;
}

.background-container .cube div span::before {
	content: '';
	position: absolute;
	left: -40px;
	width: 40px;
	height: 100%;
	background-color: #c8c8c8;
	transform-origin: right;
	transform: skewY(45deg);
	transition: 1.5s;
}

.background-container .cube div span.active::before {
	background: #f75d64;
}

.background-container .cube div span::after {
	content: '';
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	height: 40px;
	background: #f2f2f2;
	transform-origin: bottom;
	transform: skewX(45deg);
	transition: 1.5s;
	box-shadow: -100px 100px 5px rgba(0, 0, 0, 0.15);
}
.background-container .cube div span.active::after {
	background: #f14e55;
	box-shadow: -150px 150px 5px rgba(0, 0, 0, 0.15);
}

@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}



/* .main-container {
	position: absolute;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 1;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 상단 배너 영역 */
.main-container .main-baner {
	position: fixed;
	top:0;
	left:0;

	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 800px;
	z-index: 2;
}

.main-container .main-baner .first-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.main-container .main-baner .second-row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 400px;
}

.main-container .main-baner .first-row .main-baner-left {
	width: 100%;
	background-color: #fff;
}

.main-container .main-baner .first-row .main-baner-center {
	width: 100%;
	background-image: url('./img/main1.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-container .main-baner .first-row .main-baner-right {
	width:100%;
	background-image: url('./img/main2.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-container .main-baner .second-row .main-baner-left {
	width: 100%;
	background-image: url('./img/main3.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-container .main-baner .second-row .main-baner-center {
	width:100%;
	background-image: url('./img/main4.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-container .main-baner .second-row .main-baner-right {
	width: 100%;
	background-color: #fff;
}



/** new - 상단 배너 영역 **/
.main-top-video {
	top:0;
	left:0;
	width: 100vw;
	height: 200vh;
	background-color: #000;
}

.main-top-video video {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.main-top-video section {
	position: relative;
	z-index: 2;
}

section {
	width: 100%;
	height: 100vh;
}


.main-top-video section .main-top-banner-text {
	position: relative;
	opacity: 0;
	width: 80%;
	margin: 100px auto;
	padding: 50px;
	font-size: 50px;
	color: #fff;

	z-index: 2;
}
.main-top-video section.action .main-top-banner-text {
	opacity: 1;
}

/** main content 영역*/
.main-container .main-content {
	position: relative;
	margin-top: var(--main-top-banner-height);
	width: 100vw;
	height: 5550px; /** main-content-height 매우 중요 */

	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	overflow: hidden;
	z-index: 4;
}

/** 사용 안 함 */
.main-content .main-content-introduction {
	width: 100%;
	height:var(--baner-height);
	background-color: rgba(55, 55, 55, 1);
	z-index: 3;

	display: flex;
	flex-direction: row;
	overflow: hidden;
}

/** 사용 안 함 */

.main-content .main-content-introduction .content {
    position: relative;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
}
/** 사용 안 함 */
.main-content .main-content-introduction .content {
	width: 110%;
	height: 100%;
	z-index: 3;
	overflow: hidden;

	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
	background-image: url('./img/cinema.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content > div {
	margin-bottom: 20px;
	margin-left: 100px;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content .title {
	font-size: 50px;
	font-weight: bold;
	color: #fff;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content .subtitle {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content .description {
	margin-left: 300px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
/** 사용 안 함 */
.main-content .main-content-introduction .content-image {
	width: 1700px;
	height: 100%;
	background-image: url('./img/main1.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

/** 사용 안 함 */
.main-content .main-content-introduction .main-content-introduction-right {
	position: absolute;
	top: -190px;
	right: 500px;
	width: 900px;
	height: 600px;
	background-color: #000;

	transform-origin: center;
	transform: rotate(115deg);
}

.main-container .main-content .main-page {
	position: absolute;
	width: 100vw;
	z-index:3;

	display: flex;
	flex-direction: column;
}

.main-container .main-content .main-page .main-action-area {
	width: 100%;
	height: 1300px;
	background-color: rgba(0, 0,0,0.8);

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.main-container .main-content .main-page .main-action-area .main-action-area-title {
	justify-content: start;
	width: 100%;
	height: 100px;
	background-color: red;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

/* 높이가 600px 필요한데, 100% 조차 적용이 안되는거 같아.*/

.main-container .main-content .main-page .main-action-area .main-action-area-content {
	width: 100%;
	height: 600px;
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/** main 주요 기능 item 설정*/
.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item {
	margin: 20px;
	width: 300px;
	height: 400px;
	background-color: white;
	border-radius: 20px;
	border: 2px solid #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: 0.5s;
	cursor: pointer;
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item:hover {
	/* border: 2px solid #000; */
	transform: translate(-30px, -30px); /* 30px에서 15px로 이동 거리 감소 */
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
	20px 20px 0 #fff, /* 40px에서 20px로 간격 감소 */
	25px 25px 10px rgba(0, 0, 0, 0.15), /* 50px에서 25px로 간격 감소 */
	40px 40px 0 #fff, /* 80px에서 40px로 간격 감소 */
	40px 40px 20px rgba(0, 0, 0, 0.15), /* 80px에서 40px로 간격 감소 */
	60px 60px 0px rgba(0, 0, 0, 0.1); /* 120px에서 60px로 간격 감소 */
}


.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item .icon {
	width: 100px;
	height: 100px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item .title {
	color: #000;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item .content {
	color: #999;
	font-size: 20px;
	text-align: center;
}

/** main - 주요 기능 icon 영역*/
.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item:nth-child(1) .icon {
	background-image: url('./icon/notice.png');
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item:nth-child(2) .icon {
	background-image: url('./icon/intro.png');
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item:nth-child(3) .icon {
	background-image: url('./icon/chat.png');
}

.main-container .main-content .main-page .main-action-area .main-action-area-content .main-action-area-content-item:nth-child(4) .icon {
	background-image: url('./icon/board.png');
}

.main-container .main-content .main-page .main-action-area .main-action-area-list {
	width: 100%;
	height: 1050px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: var(--background-color);
}

.main-container .main-content .main-page .main-action-area .main-action-area-list .calout{
	padding: 20px;
	width: 50%;
	height: 150px;
	color: #fff;
}

.main-container .main-content .main-page .main-action-area .main-action-area-list .calout .title {
	font-size: 50px;
	font-weight: bold;
	text-align: left;
}

.main-container .main-content .main-page .main-action-area .main-action-area-list .list {
	width: 50%;
	height: 100%;
	padding: 20px;
}

.list .main-item {
	margin-bottom: 10px;
	width: 100%;
	height: 100px;
	border-bottom: 2px solid #fff;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	
	cursor: pointer;
}

.main-action-area-list .list .main-item .icon {
	margin: 20px;
	width: 60px;
	height: 60px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.main-action-area-list .list .main-item .icon.notice {
	background-image: url('./icon/notice-white.png');
}

.main-action-area-list .list .main-item .icon.board {
	background-image: url('./icon/board-white.png');
}

.main-action-area-list .list .main-item .content {

	padding-right: 20px;
	width: 90%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.main-action-area-list .list .main-item .content .title {
	width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.main-action-area-list .list .main-chat {
	width: 100%;
	height: 500px;
	border-radius: 20px;
	border: 2px solid #fff;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main-action-area-list .list .main-chat .chat-img {
	margin: 0 100px;
	width: 350px;
	height: 50%;
	background-image: url('./img/main3.gif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 20px;

}

.main-action-area-list .list .main-chat .chat-content {
	padding: 70px;
	width: 50%;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-action-area-list .list .main-chat .chat-content .chat-description {
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

/** main - 채팅 버튼 영역 */
.main-action-area-list .list .main-chat .chat-content .btn {
	position: relative;
	margin: 10px auto 0 auto;
	width: 10em;
	color: #78FFCD;
	border: .15em solid #78FFCD;
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	line-height: 2em;
	cursor: pointer;  
  }
  .main-action-area-list .list .main-chat .chat-content .btn .dot {
	content: '';
	position: absolute;
	top: 0;
	width: calc(10em*.2);
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
  }
  .main-action-area-list .list .main-chat .chat-content .btn .dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: #78FFCD;
	border-radius: 1em;
	border: .25em solid #fff;
	box-shadow: 0 0 .7em #fff,
		  0 0 2em #78FFCD;
  }
  .main-action-area-list .list .main-chat .chat-content .btn:hover .dot,
  .main-action-area-list .list .main-chat .chat-content .btn:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
  }
  @keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
  }


  /** main - 영화, 도서, 음악 등 컨첸츠 list 영역 */
  .main-container .main-content .main-page .main-page-content {
	height: 3200px;
	background-color: var(--background-color);

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
  }

  /** main page, 각 행 영역*/
  .main-container .main-content .main-page .main-page-content .main-page-content-box {
	
	width: 100%;
	height: 800px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

	
  }

  /**음악 영역 */
  .main-container .main-content .main-page .main-page-content .main-page-content-box.music {
	background-color: #272626;
	opacity: 0.8;


	overflow: hidden;
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  .main-container .main-content .main-page .main-page-content .main-page-content-box.music::after {
	/* border: 3px solid #f00; */
    content: '';
    position: absolute;
    top: 1300px;
    right: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 1) 70%);
}


  .main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-title {
	padding-left: 100px;
	width: 100%;
	height: 100px;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	line-height: 100px;
	z-index: 4;
  }

  .main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
  }

  .main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .list {
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	z-index: 1;
  }

  .main-page-content-box-content .main-list-button {
	width: 65px;
	height: 180px;

	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .main-page-content-box-content .main-list-button button {
	content: '>';
	padding: 10px;
	height: 100%;
	background-color: var(--black-color);
	border-radius: 10px;

	font-size: 30px;
	font-weight: bold;
	color: white;

	cursor: pointer;
  }

  .main-page-content-box-content .main-list-button button:hover {
	content: '>';
	padding: 10px;
	height: 100%;
	background-color: var(--black-color);
	border-radius: 10px;

	box-shadow: inset 5px 5px 10px 5px var(--black-color);

	font-size: 30px;
	font-weight: bold;
	color: white;

	cursor: pointer;
  }

 


  /** music item, click - before */
  .main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music {
	margin: 20px;
	width: 300px;
	height: 300px;
	
	transition: 0.2s all;
	cursor: pointer;
  }

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music .imgBx {
	width: 300px;
	height: 300px;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music .imgBx img {
	width: 300px;
	height: 300px;

	cursor: pointer;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music .content {
	display: none;
  }

  .main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music .img-area {
	display: none;
  }


/** music item, click- after */
.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action {
	width: 400px;
	height: 600px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fff;

	border-radius: 10px;
	box-shadow: 0 0 15px #000,
	0 0 30px #000;

	transition: 0.2s ease;
	opacity: 0.9;
	cursor: pointer;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action .imgBx {
	margin-top: 20px;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action .content {

	margin: 15px 0 10px 0;
	width: 100%;
	height: 30px;

	font-size: 30px;
	font-weight: bold;
	display: flex;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action .content .title {
	width: 100%;
	height: 100%;

	padding-left: 45px;

}

/***/

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action .img-area {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	transition-delay: 0.5s;
}

.main-container .main-content .main-page .main-page-content .main-page-content-box .main-page-content-box-content .mainPage-content-box.music.action .img-area img {
	width: 150px;
	height: 150px;
}

.main-page-content-box.game {
	position: relative;

	overflow: hidden;
}

.main-page-content-box.game .main-page-content-box-content {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


/** game, video 영역 */
.main-page-content-box.game .main-page-content-box-content .bg-video__content {
	position: absolute;

	top:0;
	left:-400px;
	width: 100%;
	opacity: 1;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 75%);
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 50%, transparent 75%);
	z-index: -1;
}


.main-page-content-box.game .main-page-content-box-content .mainPage-content-box.game {
	position: relative;
	width: 300px;
	height: 400px;

	margin: 20px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
	border: 1px #fff solid;
}

.main-page-content-box.game .main-page-content-box-content .imgBx {
	width: 100%;
	height: 100%;
}

.main-page-content-box.game .main-page-content-box-content .imgBx img {
	width: 100%;
	height: 100%;
}

.main-page-content-box.game .main-page-content-box-content .mainPage-content-box.game:hover {
	transform: scale(1.6);
	transition: 0.5s ease-in-out;
	z-index: 30;
}

/** book 영역 */
.main-page-content-box.book .main-page-content-box-book-title {
	padding-left: 100px;
	width: 100%;
	height: 100px;
	color: #000;

	background-color: #c8bfb8;
	font-size: 50px;
	font-weight: bold;
	line-height: 100px;
	z-index: 4;
  }

.main-page-content-box.book {
	position: relative;

	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	overflow: hidden;
}

.main-page-content-box.book .main-page-content-box-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main-page-content-box.book .main-page-content-box-content .list {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
}
/* 
.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book {
	position: relative;
	width: 300px;
	height: 400px;

	margin: 20px;


	transition: all 0.3s ease;

	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.08);

	cursor: pointer;
} */


.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book {
	margin: 20px;
	position: relative;
	width: 300px;
	height: 400px;
	perspective: 1000px;

	cursor: pointer;
}

.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book > .page {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f5dec1;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
}

.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book >.page img {
	width: 300px;
	height: 400px;
}

.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book > .page:nth-child(1) {
z-index: 1;
transform-origin: top center;
transition-duration: 1s;
transition-timing-function: ease-in;
}

.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book:hover .page:nth-child(1) {
transform: rotateX(180deg);
opacity: 0.4;
}

.main-page-content-box.book .main-page-content-box-content .list .mainPage-content-box.book .page:nth-child(2) {
z-index: 0;
}



/** movie 영역 */
.main-page-content-movie-box {
	position: relative;
	background-image: url('./img/movie-bg.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	width: 100%;
	height: 800px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-page-content-movie-box .main-page-content-box-title {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 100px;
	width: 100%;
	height: 100px;
	color: #fff;

	font-size: 50px;
	font-weight: bold;
	line-height: 100px;
	z-index: 4;
}

.main-page-content-movie-box .screen {
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
}

.main-page-content-movie-box .screen iframe {
	width: 100%;
	height: 100%;
}

.main-page-content-movie-box .main-page-content-box-content {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;
}

.main-page-content-movie-box .main-page-content-box-content .list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-page-content-movie-box .main-page-content-box-content .list .mainPage-content-box.movie {
	width: 200px;
	height: 300px;

	margin: 20px;
}

.main-page-content-movie-box .main-page-content-box-content .list .mainPage-content-box.movie .imgBx img {
	width: 200px;
	height: 300px;
}


/** 자주하는 질문 */
.main-page .content-faq {
	margin-top: 30px;
	width: 100%;
	height: 600px;
}

.main-page .content-faq .faq-box {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-page .content-faq .faq-box .faq-list {
	width: 60%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.main-page .content-faq .faq-box .faq-list .faq-item {
	position: relative;
	width: 80%;
	height: 70px;

	margin: 10px;
	padding: 10px;
	background-color: var(--black-color);
	color: #fff;

	border: 1px #000 solid;
	border-radius: 15px;


	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.main-page .content-faq .faq-box .faq-list .faq-item:hover {
	margin-bottom: 100px;
	background-color: #5D5D5D;
	color: #fff;
	transition: 0.5s ease-in-out;
}

.main-page .content-faq .faq-box .faq-list .faq-item .iqon {
	margin: 0 20px;
	width: 30px;
	height: 30px;
	background-image: url('./icon/faq.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main-page .content-faq .faq-box .faq-list .faq-item .title {
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;

	
	font-size: 30px;
	font-weight: bold;
}

.main-page .content-faq .faq-box .faq-list .faq-item .content {
	position: absolute;
	top: 90px;
	left: 0;

	display: none;
	transition: 0.5s ease-in-out;

	padding: 20px;

	border-radius: 15px;
	background-color: #2D2D2D;
	width: 100%;

	font-size: 15px;
	font-weight: bold;

	transition: 0.5s ease-in-out;
}

.main-page .content-faq .faq-box .faq-list .faq-item:hover .content {
	display: block;
	transition: 0.5s ease-in-out;
}


/** footter 영역 */
footer {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #272626;
	z-index: 100;
}

footer .footer-container {
	padding: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer .footer-container .footer-content {
	width: 100%;
	height: 100%;
}

footer .footer-container .footer-content .footer-subject {
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	cursor: pointer;
}

footer .footer-container .footer-content .footer-subject .footer-subject-img{
	margin-right: 20px;
	width: 300px;
	height: 100px;
	background-image: url('./img/mypick-logo.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}



footer .footer-container .footer-content .footer-content {
	font-size: 20px;
	color: #fff;
}

footer .footer-container .footer-content .footer-content p {
	margin-top: 20px;
}

footer .footer-container .footer-content .footer-btn {
	margin-top: 20px;
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


/** footer loading bar */
.loading-hr {
	position: relative;
	display: flex;
}

.loading-hr span {
	position: relative;
	width: 20px;
	height: 5px;
}
.loading-hr span::before {
	content: '';
	position: absolute;
	inset: 0;
	background: #f00;
	box-shadow: 0 0 5px #f00,
	0 0 15px #f00,
	0 0 30px #f00,
	0 0 50px #f00;
}


.loading-hr.action-bar span::before {
	content: '';
	position: absolute;
	inset: 0;
	background: #0f0;
	box-shadow: 0 0 5px #0f0,
	0 0 15px #0f0,
	0 0 30px #0f0,
	0 0 50px #0f0;
}

.loading-hr.action-bar span::before {
	animation: hr-bar 3s linear 1;
}

@keyframes hr-bar {
	0% {
		transform-origin: 0 20px;
		filter: hue-rotate(0deg);
	}
	20% {
		transform: rotate(calc(-90deg * var(--i)));
	}
	60% {
		transform: rotate(calc(0deg * var(--i)));
	}
	100% {
		transform: rotate(calc(0deg * var(--i)));
	}
}

.footer-subject-v {
	position: relative;
	margin-left: 20px;
	display: flex;
	align-items: center;
}

.footer-subject-v span {
	position: absolute;
	width: 20px;
	height: 3px;
	background: #f00;
	box-shadow: 0 0 5px #f00,
			  0 0 15px #f00,
			  0 0 30px #f00,
			  0 0 50px #f00;
}

.footer-subject-v.action-bar span {
	position: absolute;
	width: 20px;
	height: 3px;
	background: #0f0;
	box-shadow: 0 0 5px #0f0,
			  0 0 15px #0f0,
			  0 0 30px #0f0,
			  0 0 50px #0f0;
}



.footer-subject-v span:nth-child(1) {
	transform: rotate(45deg) translate( 0px, 0px);
	transition: 0.2s ease-in-out;
}

.footer-subject-v span:nth-child(2) {
	transform: rotate(-45deg) translate( 10px, 10px);
	transition: 0.2s ease-in-out;
}

.footer-subject-v.action-bar span:nth-child(1) {
	transform: rotate(45deg) translate(10px, -10px);
	transition: 0.5s ease-in-out;
}

.footer-subject-v.action-bar span:nth-child(2) {
	transform: rotate(-45deg) translate( 0px, 0px);
	transition: 0.5s ease-in-out;
}

.footer-container .footer-content p.footer-content {
	margin-top: 20px;
	width: 1300px;
	height: 0px;
	opacity: 0;
	transition: 0.8s ease-in-out;
}

.footer-container .footer-content p.footer-content.action-bar {
	margin-top: 20px;
	opacity: 1;
	transition: 0.8s ease-in-out;
}

/** footer content btn - footer button 영역*/
footer .footer-container .footer-content-btn {
	margin-bottom: 20px;
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.footer-container .footer-content-btn .btn-area-first,
.footer-container .footer-content-btn .btn-area-second {
	width: 100%;
	height: 100px;
	margin: 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer-container .footer-content-btn .btn-area-first .footer-content-btn-item,
.footer-container .footer-content-btn .btn-area-second .footer-content-btn-item  {
	width: 300px;
	height: 50px;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;


	cursor: pointer;
}

.footer-container .footer-content-btn .btn-area-first .footer-content-btn-item .footer-content-btn-item-img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-image: url('./icon/github.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer-container .footer-content-btn .btn-area-second .footer-content-btn-item:nth-child(1) .footer-content-btn-item-img {
	background-image: url('./img/cyci.png');
}

.footer-container .footer-content-btn .btn-area-second .footer-content-btn-item:nth-child(2) .footer-content-btn-item-img {
	background-image: url('./img/koreaacademy.png');
}

.footer-container .footer-content-btn .btn-area-second .footer-content-btn-item:nth-child(3) .footer-content-btn-item-img {
	background-image: url('./icon/user_creater.png');
}

.footer-container .footer-content-btn .btn-area-second .footer-content-btn-item .footer-content-btn-item-img {
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.footer-container .footer-content-btn div .footer-content-btn-item .footer-content-btn-item-text {
	margin-left: 10px;
	font-size: 25px;
	color: var(--black-color);
	font-weight: bold;
}
