/* ChatPage.module.css */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
}

/* 왼쪽, 오른쪽 사이드바는 ChatPage에서 배치,
   각각 200px 고정 너비, 높이는 100%. */
.sidebar {
  flex: 0 0 200px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  /* 사이드바 높이 100% */
}

.chatMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  /* 중앙 영역도 100% */
}