:root {
    --admin-background-color: #1a202e;
    --admin--nav-color: #fff;
    --admin-nav-hover-color: #1a202e;

    --nav-menu-open-width: 400px;
    --nav-menu-close-width: 100px;

    --sidebar-width-open: 400px;
    --sidebar-width-close: 100px;

    --admin-nav-color: #fff;
    --admin-nav-hover-color: ##1a202e;
    --admin-nav-hover-color-2: #191919;
    --sidebar-hover: #BE3144;
    --title-color: #BE3144;
    --main-color-1: #FF4948;
    --main-color-2: #FF4E77;
    --main-color-3: #FF834F;
    --main-color-4: #4D4D4D;
    --sub-color-1: #74ff74;


    --card-background-color: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.admin-main-container {

    font-family: 'TheJamsil5Bold';

    position: relative;

    width: 100vw;
    height: 100vh;
    background-color: var(--admin-background-color);
}